Ical from Google fails to import - Could not parse iCal event: Event has no end time or duration

No matter if I add my Google calendar via the secret link (ical URL with no auth), or export the calendar from Google as a file and upload that to Luna, I get this error. It appears there's one or more events that Luna can't parse.

```ERRO[2026-03-25T12:38:50+01:00] Could not get events from calendar <redacted> (<redacted>): Could not parse event from calendar <redacted> (<redacted>): Could not parse iCal event: Event has no end time or duration  module=api```

Are you able to find the event in the iCal and post it here?

If you repull, the error will now also tell you the event's UID in the iCal file, so it will be easier to find the issue.

Thanks. The UID will be helpful. No chance of finding it without that.
I'm using the community docker images because I can't build docker images on the system I'm deploying to, so I'll wait for those to be updated (they seem to update often, so it probably won't take long).

I'll get back to you as soon as find the exact event that causes the problem!

Images are up to date now.
You can run your tests 😊

There's the event that fails, according to the log.

```
BEGIN:VEVENT
DTSTART:20160623T112500Z
DTSTAMP:20260325T113508Z
UID:<long uid redacted>@google.com
CREATED:20160623T112816Z
LAST-MODIFIED:20160623T112816Z
SEQUENCE:0
STATUS:CONFIRMED
SUMMARY:<redacted>
TRANSP:OPAQUE
END:VEVENT
```

What does the event look like in Google calendar? Does it go from 11:25 to 23:59 or 11:25 the next day?

It looks pretty normal, but it looks like the start and end date/time is the same.

<img width="708" height="735" alt="Image" src="https://github.com/user-attachments/assets/6abb44a1-26d6-4932-a590-209507377c35" />

Got it.

RFC 5545 Section 3.6.1:
> For cases where a "VEVENT" calendar component
> specifies a "DTSTART" property with a DATE value type but no
> "DTEND" nor "DURATION" property, the event's duration is taken to
> be one day.  For cases where a "VEVENT" calendar component
> specifies a "DTSTART" property with a DATE-TIME value type but no
> "DTEND" property, the event ends on the same calendar date and
> time of day specified by the "DTSTART" property.

I only implemented the first case for all-day events, but I don't have the case that you've shown right here, because I've never encountered it myself. It seems the start and end date being equal is exactly what should happen.

I believe it should at least parse correctly now.

Thanks, it imports now without any errors.