I dug deeper. I believe this is a bug in Go's standard library.

- The date-time in your error is: ``Mon, 9 Feb 2026 21:37:40 GMT``
- The date-time in a CalDAV `getlastmodified` field is specified to be RFC1123-compliant in [RFC4918](https://datatracker.ietf.org/doc/html/rfc4918#section-15.7). I could not find this before, because it is inherited directly from WebDAV.
- The error originates here: [http.ParseTime](https://cs.opensource.google/go/go/+/master:src/net/http/header.go;l=129?q=ParseTime&ss=go%2Fgo)
- This is because no time format matching the date-time format is found.
- According to the [documentation](https://pkg.go.dev/net/http#ParseTime), there are three time formats that are tried: `TimeFormat`, `time.RFC850`, and `time.ANSIC`.
- According to the [documentation](https://pkg.go.dev/net/http#TimeFormat), `TimeFormat` is defined to be `Mon, 02 Jan 2006 15:04:05 GMT`. We can confirm this by looking in the [source code](https://cs.opensource.google/go/go/+/master:src/net/http/server.go?q=symbol%3A%5Cbhttp.TimeFormat%5Cb%20case%3Ayes).
- The above time format is Go's way of saying that the day must be exactly two digits long. This is not the case with `Mon, 9 Feb[..]`.
- The [RFC1123](https://datatracker.ietf.org/doc/html/rfc1123#page-55) date is defined as `1*2DIGIT month 2*4DIGIT`. This supercedes [RFC822](https://datatracker.ietf.org/doc/html/rfc822#section-5.1), which was `1*2DIGIT month 2DIGIT`.
- The full date-time syntax `[ day "," ] date time` matches our value.
- The case of whether a single digit for the day number is actually allowed is easily resolved. According to [RFC2234](https://datatracker.ietf.org/doc/html/rfc2234#section-3.6), `1*2DIGIT` means either one or two digits.

Conclusion: In this case, it's actually Google who is not being standard-compliant. I'll see about where we can file a bug report about this...


Wow, that opened a can of worms. That was some impressive digging in a short amount of time!

I believe I've tracked down the source to this here which has been created by iOS but I'm not knowledgeable enough to be able to tell what comes from the original creator and what comes from Stalwart:

```<D:response>
    <D:href>/dav/cal/XXX%40XXX.XXX/default/CDCCD3E3-B592-4355-A791-1201B70E9C73.ics</D:href>
    <D:propstat>
        <D:prop>
            <A:calendar-data><![CDATA[BEGIN:VCALENDAR
CALSCALE:GREGORIAN
PRODID:-//Apple Inc.//iPhone OS 26.2.1//EN
VERSION:2.0
BEGIN:VTIMEZONE
TZID:Pacific/Auckland
BEGIN:DAYLIGHT
DTSTART:20070930T020000
RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=9
TZNAME:NZDT
TZOFFSETFROM:+1200
TZOFFSETTO:+1300
END:DAYLIGHT
BEGIN:STANDARD
DTSTART:20080406T030000
RRULE:FREQ=YEARLY;BYDAY=1SU;BYMONTH=4
TZNAME:NZST
TZOFFSETFROM:+1300
TZOFFSETTO:+1200
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
CREATED:20260112T232339Z
DTEND;TZID=Pacific/Auckland:20260210T123000
DTSTAMP:20260209T213740Z
DTSTART;TZID=Pacific/Auckland:20260210T113000
LAST-MODIFIED:20260209T213739Z
SEQUENCE:0
SUMMARY:Event Name
TRANSP:OPAQUE
UID:CDCCD3E3-B592-4355-A791-1201B70E9C73
URL;VALUE=URI:sms://open?message-guid=908007DC-101B-40C5-9F48-8335149045F7
X-APPLE-CREATOR-IDENTITY:com.apple.mobilecal
X-APPLE-CREATOR-TEAM-IDENTITY:0000000000
BEGIN:VALARM
ACKNOWLEDGED:20260209T213739Z
ACTION:DISPLAY
DESCRIPTION:Reminder
TRIGGER:-PT1H
UID:374A9FED-DC75-420F-A073-130BA9595E14
X-EVOLUTION-ALARM-UID:7716bcc90eb4e8930be795d2ceaa90ba3ff60bfd
X-WR-ALARMUID:374A9FED-DC75-420F-A073-130BA9595E14
END:VALARM
BEGIN:VALARM
ACTION:NONE
TRIGGER;VALUE=DATE-TIME:19760401T005545Z
END:VALARM
END:VEVENT
END:VCALENDAR
]]></A:calendar-data>
        </D:prop>
        <D:status>HTTP/1.1 200 OK</D:status>
    </D:propstat>
</D:response>```

I will be closing this issue for now, as there's nothing that can be done on our side. This has to be fixed by Stalwart. I'll be watching how things develop with the issue raised in their repo.